<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset=utf-8 />
		<title><%= title %></title>
	</head>
	<body>
		<h1>Images stored for <%= project.name %> </h1>

		<ul>
			<% project.images.each do |image| %>
				<li>
					<p><%= image.name %></p>
					<ul>
						<% image.versions.each do |version| %>
							<% version_url = "/project/#{project.name}/image/#{image.name}/v/#{version.name}"%>
							<li><a href="<%= version_url %>"><%= version.name %></a></li>
						<% end %>
					</ul>
				</li>
			<% end %>
		</ul>
	</body>
</html>
